{{{body}}}
<head>
	<link rel="shortcut icon" href="assets/images/prosalcoadr.png">

    <!-- plugin css -->
    <link href="/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="" stylesheet type="text/css">

    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- select2-->
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> --}}
    <link rel="stylesheet" href="/assets/js/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/assets/js/jquery-ui.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
</head>
<button type="button" id="boton_modal" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
	data-bs-target="#staticBackdrop" style="display: none;"></button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a href="/" class="btn-close" aria-label="Close"></a>
			</div>
			<div class="modal-body">

						<div class="card">
										<div class="card-body p-4">
											<div class="text-center mt-2">
												<h5>Recuperar contraseña</h5>												
											</div>
											<div class="p-2 mt-4">

												<div class="alert alert-success text-center small mb-4" role="alert">
													Por favor ingresa tu correo registrado
												</div>

												<form action="/recoveryPassword" method="post">

													<div class="mb-3">
														<label class="form-label" for="useremail">Correo</label>
														<div class="position-relative input-custom-icon">
															<input type="email" class="form-control" name="emailUsuario" placeholder="Correo">
															<span class="bx bx-mail-send"></span>
														</div>
													</div>

													<div class="mt-4">
														<button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Enviar</button>
													</div>

													<div class="mt-4 text-center">
														<p class="mb-0">Recordó clave? <a href="/" class="fw-medium text-primary"> Ingresar</a></p>
													</div>
												</form>
											</div>

										</div>
									</div>										
				</div>
			</div>
		</div>



		<script>
			//Función para mostrar modal, usuario invalido
			document.addEventListener("DOMContentLoaded", () => {
				document.getElementById('boton_modal').click();
			});          
		</script>