<style>
.enlace{
    text-align: center;
    font-size: 180px;
    color: red;
}

.boton{
    background-color: black !important;
    margin-top: 5px;

}

.boton:hover{
    background-color: red !important;
}
.atras{
    text-decoration: none;
    color: #ebf2f6 !important;
}
</style>
<h1 class="enlace">ENLACE NO VALIDO</h1>

<button class="boton"><a href="/inicio" class="atras"> atras</a></button>