<style>
    .botonatras{
        background-color: black;
        
    }
    .botonatras:hover{
        background-color: red;
    }
    a{
        text-decoration: none;
        color: #ebf2f6;
    }
    .nohay{
        color: red;
    }
</style>

<h1 class="nohay">NO HAY COMENTARIOS SOBRE ESTE CURSO</h1>

<button class="botonatras" ><a href="/verdetallescurso/{{id_cursos}}">volver</a></button>