<style>
    .botonatras{
        background-color: black;
        
    }
    
    .botonatras:hover{
        background-color: red;
    }

    a{
        text-decoration: none;
        color: #ebf2f6;
    }

    .crearcomentariosNOT {
        background-color: black;

    }

    .crearcomentariosNOT:hover {
        background-color: blue;
    }
    .nohay{
        color: red;
    }
</style>

<h1 class="nohay">NO HAY RESEÑAS SOBRE ESTA NOTICIA</h1>

<button class="botonatras" ><a href="/verdetallesnoticias/{{id_noticias}}">volver</a></button>
<button class="crearcomentariosNOT"><a href="/crearcomentariosNOT/{{id_noticias}}">crear reseña</a></button>

